<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="New York Times News API">
    <meta name="author" content="Katarzyna Javaheri-Szpak katarzyna.javaheri@gmail.com">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>



    <title>The New York Times API App</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


</head>

<body ng-app="app">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">Start</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#news">News</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container-fluid" id="home">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>The New York Times API App</h1>
                        <hr class="small">
                        <span class="subheading">Data provided by The New York Times</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About -->

    <div class="container" id="about">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h3>About the project</h3>
                <p> The New York Time API App is a sample app. It uses the Top Stories API which provides lists of articles and associated images.</p>
                <p>The App was created as a recruitment task. </p>
                <p>You can find the code on my <a href="https://github.com/javaheri2016" target="_blank">GitHub</a>. </p>


                <!-- Search in content    <label for="search" class="panel-title">
                                    <h5>Search: </h5>
                                </label>
                            <input type="text" name="search" ng-model="search"><i class="icon-search"></i> -->
            </div>
        </div>
    </div>
    </div>
    <hr>
    <!-- Main Content -->





    <!-- AngularJS -->
    <div class="container" id="news" ng-controller="MainController">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="content" ng-cloak>
                <h3 class="top-stories">Top stories</h3>
                <div class="row row-dates">
                    <p> Choose a range of dates</p>

                    <div class="col-lg-6 col-md-12">From: <input ng-model="dateFrom" type="date" placeholder="" /></div>
                    <div class="col-lg-6 col-md-12">To: <input ng-model="dateTo" type="date" placeholder="" /></div>
                    <hr>
                </div>
                <div class="row">
                    <div ng-repeat="story in list | dateFilter:dateKey:dateFrom:dateTo">

                        <div class="col-lg-3 col-md-12">

                            <img ng-src="{{story.image}}"></div>
                        <div class="col-lg-9 col-md-12">

                            <h4>{{story.title}}</h4>

                            <p class="date">{{story.date | date: "y-MM-dd" }}</p>
                            <p>{{story.abstract}}</p>
                            <ul class="pager">
                                <li class="next">
                                    <a ng-href="{{story.url}}">Read more &rarr;</a>
                                </li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end AngularJS -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container" id="contact">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="http://www.linkedin.com/in/kjavaheri" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/javaheri2016" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="newyork text-center">
                        <a href="http://developer.nytimes.com" target="_blank"><img src="img/poweredby_nytimes_200a.png"></a>
                    </div>
                    <p class="copyright text-muted">Copyright &copy; Katarzyna Javaheri-Szpak 2017</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.js"></script>

</body>

</html>
